= form_for @bracket do |f|
  - if @bracket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bracket.errors.count, "error")} prohibited this bracket from being saved:"
      %ul
        - @bracket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :final_game_score
    = f.number_field :final_game_score
  .field
    = f.label :tournament
    = f.text_field :tournament
  .field
    = f.label :user
    = f.text_field :user

  .bracket
    .final-four
      stuff
    - 2.times do |reg| 
      .region{:class => "region-#{reg}"}
        .rounds
          - 4.downto(0) do |i|
            .round{:class => "round-#{i}"}

              - (2**i).times do
                .matchup
                  - if i == 4
                    .team.team-a
                      = "a"
                    .team.team-b
                      = "b" 
                  - else
                    .team.team-a
                      = select_tag "match[#{reg+i}]"

                    .team.team-b
                      = select_tag :match

  .actions
    = f.submit 'Save'
