%p#notice= notice

%p
  %b Year:
  = @tournament.year
%p
  %b Selection sunday:
  = @tournament.selection_sunday

= link_to 'Edit', edit_tournament_path(@tournament)
\|
= link_to 'Back', tournaments_path
